.app-header {
  background-color: #94A0B3;
  height: 80px;
  position: relative;
  z-index: 10;
}

.app-title {
  color: #FCFCFC;
  line-height: 80px;
  vertical-align: middle;
  font-size: 1.5em;
}

.app-branding {
  float: left;
}

.app-options {
  float: right;
}

.app-nav ul {
  margin: 0;
  padding: 0;
}

.app-nav ul li {
  list-style-type: none;
  display: inline-block;
}

.app-nav ul li a {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  color: #FCFCFC;
}

.app-nav ul li a:hover {
  color: #224edd
}

.app-nav ul li a.active {
  color: #224edd;
}
